@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');


.top-header {
  display: flex;
  justify-content: flex-end;
  background-color: #064A75;
  font-family: "Rowdies";
  height: 70px;
  color: white;
}

.bottom-header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DCF9D7;
  height: 110px;
  font-family: "Rowdies";
  align-content: baseline;

}

.header-links{
  display: flex;
  align-content: space-between;
  margin-top: 20px;
  margin-right: 30px;
  gap: 20px;
}

.link:hover{
  text-decoration: underline;
}

.logo:hover{
  opacity: 70%;
}
.promo{
  padding-right: 550px;

}
.ten-percent{
  color: #57BE56;
}

@media only screen 
and (min-device-width: 375px)
  and (max-device-width: 480px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: portrait)
{


  .top-header{
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
  }

  .header-links{
    display: flex;
    
    justify-content: flex-end;
    font-size: 8px;
  
  
  }
  .promo{
    
    display: flex;
    position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 900px;
  font-size: 4px;
  padding-left: 15px;
  
    
  }
  .promo br{
    display: none;
  }
  
  .ten-percent {
    display: flex;
    font-size: 6px;
   

    
  }
  .code{
    display: flex;
    
    font-size: 4px;
  
  }
  .box{

  }
  
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .ipad-portrait { color: red; }
  
  .top-header{
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
  }

  .header-links{
    display: flex;
    
    justify-content: flex-end;
    font-size: 8px;
  
  
  }
  .promo{
    
    display: flex;
    position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 900px;
  font-size: 4px;
  padding-left: 15px;
  
    
  }
  .promo br{
    display: none;
  }
  
  .ten-percent {
    display: flex;
    font-size: 10px;
   

    
  }
  .code{
    display: flex;
    
    font-size: 8px;
  
  }
  .box{

  }
}